<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/font-awesome-4.7.0/css/font-awesome.css') }}"/>
    {#--Temporary CSS--#}
    <style>
        .btn-primary, .btn-danger {
            margin: 4px !important;
        }
    </style>
</head>
<body>
<div class="container">
    {% include 'navigationBar.html.twig' %}
    {% block content %}
        {% block heading %}
            {#<h2> {{ title }} </h2>#}
        {% endblock heading %}

        {% block fos_user_content %}{% endblock %}
    {% endblock content %}
    <script type="text/javascript" src="{{ asset('assets/jquery/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bootstrap-3.3.7-dist/js/bootstrap.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</div>
</body>
</html>
